body {
    font-family: 'Arial', sans-serif;
    background-color: #c6c6c6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculadora {
    background-color: #474747;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
}

h1 {
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group input {
    width: 48%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    font-size: 1em;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}


.button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #9122c0;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b52bf1;
}

.result-box {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 6px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resultado {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}